[2021-12-04 20:58] #561 closed

[2021-12-05 00:15] #526 closed

[2021-12-05 20:30] madphysicist commented on #563
It seems that you are not the only one: https://stackoverflow.com/q/70237552/2988730

You can get what you want with something like this:

[code]

[2021-12-05 20:33] madphysicist commented on #465
Is there any rhyme or reason for those dates (can they be computed), or are they based on the whims of lawmakers?

[2021-12-05 20:40] madphysicist opened #573 "Moving `country` attribute to class"
Right now, the `country` attribute appears to be defined in the `__init__` method for each class. I suggest moving it to a class attribute. This will not create any backwards incompatibility that I can see, and will allow the following filtering to work without having to instantiate a couple of hundred classes:

    list_of_unique_countries = [c for country in holidays.list_supported_countries() i

[2021-12-07 23:43] mojso commented on #541
Thank you for entering the Macedonian holidays

[2021-12-11 10:43] dr-prodigy commented on #541
Big kudos to @tserekh for providing this: it is now available on beta branch.
Cheers

[2021-12-11 10:43] #541 closed

[2021-12-11 14:24] dr-prodigy commented on #562
Hi @bverkron
thank you!
This new holiday has been recently added (for MB and NS provinces only) by @cturra with #533 PR.
That PR has then been merged in beta and it will be released to master as soon as we release a new official python-holidays version (ETA still TBD).
I assume this covers your topic: I kindly ask you to please follow up here in case something else is still to be considered.. thx

[2021-12-11 18:57] bverkron commented on #562
Thanks for the response and pointing out the PR, I did not think to search for PRs on this topic.

Some added info / context for others who might come across this...

My original understanding was that this was a nation wide statutory holiday but it does indeed appear to be province specific. In BC my children did not have school that day and my employer treated it as a stat holiday due to the ind

[2021-12-12 21:05] dr-prodigy commented on #562
@bverkron
Oh gawrsh.. I must admit that this (interesting!) explanation doesn't clarify the topic too much to me ":-D

So in the end, given that BC seems not to be included in the list of provinces in which this holiday is, are MB and NS the only ones to be considered (at least, as of now)?

.. Thank you!

[2021-12-14 01:57] bverkron commented on #562
I only spot checked BC, AB, SK and none of them have it as an official statutory holiday. However, [this article](https://dailyhive.com/vancouver/who-gets-september-30-truth-reconciliation-off-work) claims that PEI (Prince Edward Island) ...

and points to [this official statement](https://www.princeedwardisland.ca/en/news/province-recognizes-national-day-of-truth-and-reconciliation) which says...

[2021-12-14 04:10] cturra commented on #562
that was the approach i took when i implemented this holiday. figured i could circle back and add province’s or territories once they officially recognized the day as statutory.

i’m open to changing that approach if the community feels it’s more appropriate. 🤷🏼

[2021-12-16 14:36] dr-prodigy commented on #562
It is really not easy to say.. different countries, different rules!

In general, yes, only "statutory" holidays (as a rule of thumb, I'd put in this category all off (and usually paid) days for public & private workers, + schools) should be included as holidays in the lib.
Not being an expert of Canadian regulations / habits, I let you be judge for this case.. as soon as we have a clear answer, i

[2021-12-20 03:21] bverkron commented on #562
After reviewing the official statements for the few provinces noted above and discussing / thinking about it I believe @cturra's approach is correct and probably the best criteria at this time.

There is so much nuance and variation in how the provinces are handling this holiday (and some others) that it's probably the only sane way to do it without getting into the weeds and causing a bunch of de

[2021-12-20 03:21] #562 closed

[2021-12-20 18:07] dr-prodigy commented on #573
Hi,
although I don't feel this as a huge improvement (it could have been if we could, for instance, provide a default value for it, which in fact is not the case), it is semantically correct and less prone to implementation errors, so I decided to implement it all the same.
It is now released in beta, thank you! 👍

[2021-12-20 18:16] madphysicist commented on #573
Awesome, thanks!

[2021-12-20 18:21] madphysicist commented on #573
By the way, here is the question that led me to learn about this package and indirectly to raise this issue: https://stackoverflow.com/q/70237552/2988730. Again, thanks for the update and for the great package

[2021-12-22 13:41] Doev commented on #519
Hello dr-p,

sorry for my late answer. It was my mistake. When I get the german hildays, I have to use the parameter 'prov' and not 'state'. It works as it should work.

Thank you!

[code]

[2021-12-23 17:42] dr-prodigy commented on #519
Very good then.. thank you! 👍

[2021-12-23 17:42] #519 closed

[2021-12-29 03:48] macwanj opened #581 "Canada Holiday Error - Observed Christmas Day"
This year, the Observed Christmas holiday in Canada was on Monday 27th Dec and following Observed Boxing Day was Tue 28th Dec

https://github.com/dr-prodigy/python-holidays/blob/94d767706111b9b725bf33c122ef4f7f64566f7a/holidays/countries/canada.py#L251
Logic here states that if Christmas falls on a Saturday, the observed Holiday is on Friday.

Now I haven't gone back in time to validate the patter

[2021-12-29 09:07] dr-prodigy commented on #581
Hi,
this is already being analyzed / reviewed on #579

Marking as duplicate.. Let's follow up there, thx!

[2021-12-29 09:07] #581 closed

[2021-12-29 09:11] dr-prodigy commented on #563
Yes, this is being discussed in #575 .. please follow up there!
Thx cheers

[2021-12-29 09:11] #563 closed

[2021-12-31 14:46] Snitzel88 opened #583 "Observed Holidays for Canada is incorrect"
Hi,

Just noticed that the observed holidays logic for Canada is incorrect, for example the Christmas, boxing days, and new year days which falls on the weekend should have the following Monday (and Tuesday respectively) as the observed holidays not the previous day.

Ex:
Christmas = 25th - Saturday >Monday
Boxing day = 26th - Sunday>Tuesday
New year day = 31 = Saturday> Monday

[2021-12-31 16:36] Undearius commented on #583
There's a pull request open to correct this for Christmas Day. It should probably be expanded to include New Year's Day

https://github.com/dr-prodigy/python-holidays/pull/579

[2022-01-02 11:10] nettnikl opened #584 "Missing holiday "Friedensfest" for Augsburg, Germany"
Hey, i'd like to mention that there is a holiday missing.
On xxxx-08-08 the "Friedensfest" is celebrated in the city of Augsburg, Bavaria, Germany. It is celebrated exclusively there, otherwise, the holidays are equivalent to the Bavarian ones. However, it is a valid public holiday.
Could you add it, or in case it's to much of a hassle, add it as a note for Germany to the documentation?
EDIT: I'm

[2022-01-02 15:05] lior-lemonade commented on #569
I got the same error (when using FBProphet).

[code]

[2022-01-03 01:26] mborsetti commented on #569
@dr-prodigy I was able to replicate the issue:
[code]

I will try to find out why the dictionary expands to include 2021 when invoked in the list-building; my hunch is that it's somehow triggered by one of the `holidays.get_list(date)` calls.

@dr-prodigy  Do you remember why there's a `get_list()` method when the holiday's name is already the value of the dictionary entry? And why is the value a

[2022-01-04 15:34] dr-prodigy commented on #584
Hi,
thank you for your interest and support!
As you could notice in the code, that case was in fact evaluated and left willingly unmanaged, being that holiday not valid for whole Bavaria.
Also, unfortunately, there is currently no suitable space in the project doc (which is very concise and doesn't provide country specific details).

Note: @mborsetti promised to be soon working on some Sphynx docu

[2022-01-04 16:16] dr-prodigy commented on #569
Hi @mborsetti
thank you for your contribution.. I think I need some more explanation here!

Although there could probably be sth to be checked in the year boundaries logic (ie: 2021 holidays in the list), if I caught it right, your code is "acting funny" (probably on purpose), in that it forces exactly a holiday list recalculation for each date in the previously initialized list itself.. which is

[2022-01-04 17:20] nettnikl commented on #584
Closing then.

Would still welcome everyones input!

[2022-01-04 17:20] #584 closed

[2022-01-05 10:20] mborsetti commented on #569
@dr-prodigy The code is simply a restatement of the funny code of @lior-lemonade.

Turns out that we were doing this in `UnitedStates(HolidayBase)` (and a few others):
[code]
So if you were asking for a year where 1 January was a Saturday (2021, for example), you'd also be getting a holiday in 2020(!).  The code from @lior-lemonade would then call ``holidays.get_list(date)`` on a date that was in

[2022-01-06 02:24] extrospective commented on #569
I just tried in my conda environment (Windows; not databricks) and got the same error:

Code:
[code]

Code says I am using version 0.11.3.1

I get an error stack:
[code]

[2022-01-06 02:36] extrospective commented on #569
jupyter gave me a nicer call stack perhaps than databricks; could have saved some time here.  but glad it seems like another bug was surfaced too.

[2022-01-06 05:25] mborsetti commented on #569
@extrospective Still cannot reproduce, at least with the currently published version (0.12):

[2022-01-06 05:26] mborsetti commented on #569
@extrospective Still cannot reproduce, at least with the currently published version (0.12):

<img width="770" alt="image" src="https://user-images.githubusercontent.com/26698111/148332984-1e2eafe8-57f2-4d5c-a530-650b808d582f.png">

[2022-01-06 12:14] extrospective commented on #569
Just ran in Jupyter with 0.12.
It works correctly.  Issue appears to be in 0.11.3.1 but not in 0.12.

Evidence of success pasted here:
<img width="1587" alt="image" src="https://user-images.githubusercontent.com/11449919/148381433-a189c5f0-4909-48cc-8e93-45a4e9fa3787.png">

[2022-01-06 12:15] extrospective commented on #569
Perhaps this fix should be added to release notes for 0.12.

[2022-01-06 19:49] agorajek opened #591 "TypeError: 'in <string>' requires string as left operand, not NoneType"
The latest release has [this line ](https://github.com/dr-prodigy/python-holidays/blob/57dd2ed2b8659c76f776f10207456e5231c82099/holidays/countries/united_kingdom.py#L34) which fills in `self.state` value if `state` does not exist in kwargs but it does not help if `kwargs['state']` exists but is None. Example repro:

**Broken Version 0.12**
[code]

**Last working Version: 0.11.3.1**
[code]

[2022-01-07 00:11] danielbrunt57 commented on #583
Yes, I just noticed this also and it's showing Sat January 1 2022 as the holiday but there should be Observed on Monday Jan 3 2022...

[2022-01-07 21:12] rpvelloso opened #592 "country BR, state SC - incorrect holiday"
https://github.com/dr-prodigy/python-holidays/blob/master/holidays/countries/brazil.py#L202

there is a law (from 2017) that moves 11th aug to the next sunday whenever it falls in a work day.
https://www.sc.gov.br/noticias/temas/institucional/data-magna-de-santa-catarina-sera-comemorada-no-proximo-domingo

"O adiamento do feriado está previsto na Lei nº 17.335, de 30 de novembro de 2017, que prevê

[2022-01-10 22:49] apicht opened #594 "US - Juneteenth National Independence Day (Observed): name bug"
This line is declaring the `name` variable:
https://github.com/dr-prodigy/python-holidays/blob/57dd2ed2b8659c76f776f10207456e5231c82099/holidays/countries/united_states.py#L326

This then gets picked up here, the cruel irony of which is not lost on me:
https://github.com/dr-prodigy/python-holidays/blob/57dd2ed2b8659c76f776f10207456e5231c82099/holidays/countries/united_states.py#L369-L380

In pract

[2022-01-12 20:34] asmaier opened #597 "If state doesn't exist, it should raise an error"
This is confusing:

[code]
The first line after the imports should better raise an error, because for Germany one has to use `prov` and not `state`. At the moment this leads to subtle bugs in computing wether a day is a holiday or not.

[2022-01-13 03:05] mborsetti commented on #597
@dr-prodigy I have a proposed solution.

According to the [README](https://github.com/dr-prodigy/python-holidays/blob/master/README.rst), we don't have a single country where we use **both** `state `**and** `prov`.  Since this is the case, I propose we simplify everything by conforming to [ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2#Current_codes) and call these **subdivisions** (argument

[2022-01-14 12:47] MarcSkovMadsen commented on #591
Expericing same issue here.

[code]

[2022-01-14 14:31] dr-prodigy commented on #597
Hey @asmaier
thank you for pointing this out. This inconsistency in fact has already been raised and would in fact require a review.

@mborsetti
thank you, I like your solution a lot! If you wish to implement it, I'll absolutely bless it :-)
Then - I believe - we could/should possibly review the current subdivision names to adhere to the reported ISO codes, but that can come at a later time.

Than

[2022-01-14 20:08] DManowitz-VA opened #598 "US - Confederate Memorial Day is NOT a national holiday"
I noticed when looking at US holidays for 2021 and later that you have Confederate Memorial Day as a holiday.  This is NOT an official national holiday, and many people would consider including it in the list of US holidays as very inflamatory!  It is only observed in some states, and even then, only as a day off in fewer states (see for example https://www.timeanddate.com/holidays/us/confederate-

[2022-01-14 22:16] apicht commented on #598
I believe this is related to #594 which I have opened a PR for: https://github.com/dr-prodigy/python-holidays/pull/595

[2022-01-15 08:16] dr-prodigy commented on #598
Thank you both @DManowitz-VA @apicht , I will follow up on this on #595
Cheers everyone! 👍

[2022-01-15 08:16] #598 closed

[2022-01-15 13:46] mborsetti commented on #526
@dr-prodigy Submitted in #601

[2022-01-15 15:20] mborsetti commented on #597
@dr-prodigy

Cool.

Will do the **subdivisions**, but first I need to make sure that #586 and #602 are merged/commented into beta branch because of the interdependencies with the documentation and I don't want to have to deal with the hell of trying to merge (or rebase?) commits back into my branch. I almost lost it today with #600, #601, and #602 (I think I need to take a class on `git`!)

What n

[2022-01-17 17:18] dr-prodigy commented on #597
Hey there @mborsetti !
Regarding your question, I didn't have a chosen answer, to be honest :-)
Given that we already have another shortened property (`prov` instead of province) I would then go for `subdiv`.

Regarding the other 2 PRs, I've just merged #602 , while I kindly ask you to review #586 : I've added some notes on it.

No worries about git, it's more about you always do complex / extensi

[2022-01-18 09:18] mborsetti commented on #597
Hi Maurizio/@dr-prodigy!
I agree with `subdiv`, which is why I gave you three choices! :)

#586 is fixed; I will be handling this next in my spare time.

[2022-01-24 03:52] garyng2 commented on #591
I got further before reaching the same error:

    import holidays
    import datetime

    datetime.date(2022, 1, 1) in holidays.CountryHoliday('US') # True (works)

    datetime.date(2022, 1, 1) in holidays.CountryHoliday('UK') # doesn't work; error as described in title

    '1/1/2015' in holidays.CountryHoliday('UK') # also doesn't work; error as described in title

[2022-01-30 12:23] kaizersoje opened #610 "AU VIC Next Holiday shown incorrectly"
The next holiday for VIC, Australia is showing up as Good Friday (15/4/22). However, the next holiday should be Labour Day (14/3/22). The labour day holiday is shown in the holiday list but not in the right order. It shown in between Queen's Birthday (Jun) and Grand Final Day (Sep).

![image](https://user-images.githubusercontent.com/54566217/151699436-6fc63b0b-0183-4028-8184-dfb343a0184e.png)

[2022-01-31 00:58] mborsetti commented on #610
@kaizersoje This library, in order to be as efficient as possible, does not sort the output by date.

@dr-prodigy Maurizio, funny to see this issue being opened because as I was working on my contribution this weekend I bumped into this as well, and wondered why the holidays aren't returned sorted. It somehow was my expectation too that they would be, but then remembered the required and welcomed

[2022-01-31 20:09] dr-prodigy commented on #591
Fixed in beta.. thx everyone! 👍

[2022-01-31 20:09] #591 closed

[2022-02-01 03:41] kaizersoje commented on #610
@mborsetti Due to dates not being sorted, the state to the next holiday is also incorrect.

[2022-02-01 05:34] mborsetti commented on #560
I think this should be fixed once #608 is merged.

[2022-02-03 12:47] guettli opened #611 "Verbose name for `province`"
It would be great if the library would provide a verbose name for the province.

Some abbreviations are not 100% clear.

BYP in Germany for example. If found it by searching, but an API would be nice.

[2022-02-03 19:05] #560 closed

[2022-02-03 22:01] dr-prodigy commented on #597
This is now available in beta.. thx!

[2022-02-03 22:01] #597 closed

[2022-02-03 22:02] dr-prodigy commented on #374
Released with #608 merge. Thx!

[2022-02-03 22:02] #374 closed

[2022-02-03 22:03] dr-prodigy commented on #548
This is now implemented / available on beta through the deprecation of `prov` and `state`, both replaced by `subdiv`.
Thx, cheers!

[2022-02-03 22:03] #548 closed

[2022-02-03 22:16] dr-prodigy commented on #594
This is now fixed in beta.
Thx, cheers!

[2022-02-03 22:16] #594 closed

[2022-02-03 22:18] dr-prodigy commented on #479
This is now available in beta.
Closing, thx! 👍

[2022-02-03 22:18] #479 closed

[2022-02-03 22:25] dr-prodigy commented on #569
Sorry @extrospective your last suggestion went unnoticed while working on v.0.12.
I reviewed CHANGES file accordingly and released it on beta branch (master will be updated upon next official release).
Thx for your support, cheers!

[2022-02-03 22:25] #569 closed

[2022-02-03 22:35] dr-prodigy commented on #611
Hi @guettli, thank you for your suggestion.
I've been just releasing in beta a major change while working on the new `subdiv` parameter.
In particular, the `list_supported_countries` method, along with the country names, is now returning all relevant available subdivisions (new naming for both states and provinces), so your requirement seems almost satisfied.

Therefore I label it as low priority:

[2022-02-04 07:58] grixtil opened #612 "Holidays in Malta"
Would it be possible to add support for Malta, Europe as holidays ? Official list is available here: https://www.gov.mt/en/About%20Malta/Pages/Public%20Holidays.aspx

[2022-02-04 11:44] gobol007 opened #613 "Holiday name traduction in other language - Suggestion"
Would it be possible to be able to translate the holidays into another language? example in French?

[2022-02-04 23:32] energywave opened #614 "Province holiday in Italy"
I see in code that there are "santo patrono" holidays for provinces (what's called in code "Provinces holidays"). But why? The "Santo patrono" is different from city to city, every municipality has its own special holiday. There isn't province holiday here.
I think there is no mean to keep provinces in Italy... Furthermore they're even partial as my province (VA) is not event present.
To manage th

[2022-02-05 09:52] dr-prodigy commented on #614
Hi @energywave,
thx for your message, but I'm sorry I don't really catch its main goal (usually features are requested for add, rather than removal :) ).. to clarify :
1) AFAIK, a lot of small municipalities and companies align their holidays to their province's ones, so the feature is beneficial for those too
2) if that's not your case, you can always avoid setting the subdivision parameter, and

[2022-02-05 09:52] #614 closed

[2022-02-06 02:28] energywave commented on #614
Thank you for your reply, @dr-prodigy . I'll reply by quoting:

ahah, yes, you're right, I understand that sounds a bit strange. I was only thinking that a user could specify province thinking to have a more accurate result but, in fact, he will add a holiday that most probably is wrong for him.

I don't know of such a situation of municipalities near where I live (Busto Arsizio, VA). I've seen yo

[2022-02-07 04:02] mborsetti commented on #614
I think the problem can be fixed through documentation, as the subdivision for which the "Festa del santo patrono" holiday is calculated is the "capoluogo di provincia", not the entire provincia.

That should be an easy fix.

That would be nice. We currently have ~40 provincial subdivisions out of the "80 provinces, 2 autonomous provinces, 4 decentralized regional entities, 6 free municipal consor

[2022-02-07 10:06] energywave commented on #614
At this point I agree. We should only specify it in the README.rst. I already added all the provinces there so maybe I can add a statement about that, then @dr-prodigy will review that if it's ok when merging my PR.

I already implemented all such provinces, even those with the "Santo patrono" of Sud Sardegna that is the Thursday after second Sunday in May... :D
Now I'm adding tests for those new

[2022-02-07 19:02] AndreaChiaverini-Etna opened #615 "(US Holidays) Observed and not observed inverted (and also the order), therefore incorrect"
<img width="335" alt="image" src="https://user-images.githubusercontent.com/86592351/152852571-34ae9842-8f16-4018-8308-0ed61536b49e.png">

In this case (2021):
- **2021-01-31**: was Friday (not Observed) but function returns Observed. Furthermore, it has the second position, but it was the last holidays of the year
- **2021-06-18 / 2021-06-19**: 18th results Observed, but it was not observed (it w

[2022-02-07 21:50] iticory opened #616 "Wrong US Holiday Shown for 2022-06-20"
According to the US government ([OPM](https://www.opm.gov/policy-data-oversight/pay-leave/federal-holidays/#url=2022)), Juneteenth is observed on the 20th of June this year.  However, it shows up with the name of a non-federal holiday that is only observed by a few states in April.

[code]

[2022-02-09 15:53] dr-prodigy commented on #614
I've released in beta #617 so this seems done as well.
Thanks for your support @energywave @mborsetti , cheers!

[2022-02-09 15:54] dr-prodigy commented on #611
@guettli I assume what above covers the request: thank you, closing this then!
Cheers

[2022-02-09 15:54] #611 closed

[2022-02-09 20:32] Sudo-Rob opened #619 "Orphaned code on united_states.py, commit c4a2a0f"
If I'm not mistaken, lines 378 through 381 are orphans.

![image](https://user-images.githubusercontent.com/56487711/153284524-96ecd921-8d2c-492d-9680-4de28693f4f2.png)

[2022-02-10 05:49] craigcitro commented on #616
Drive-by: the error here is that `name` is [assigned here](https://github.com/dr-prodigy/python-holidays/blob/7ced8bf6235b17fbe57b69304c4537426653639e/holidays/countries/united_states.py#L326) but then accidentally used [down here](https://github.com/dr-prodigy/python-holidays/blob/7ced8bf6235b17fbe57b69304c4537426653639e/holidays/countries/united_states.py#L372-L380) without first being reassigne

[2022-02-10 16:27] blois commented on #616
Fixed by https://github.com/dr-prodigy/python-holidays/pull/595 into beta?

[2022-02-11 07:34] GuangwenSi opened #623 "about hong kong"
Hong Kong is not an independent country, so it feels like you still need to revise it, which can easily lead to ambiguity @EdwardBet

[2022-02-11 07:38] GuangwenSi commented on #623
Hello doctor, your work is great, it is very helpful to me, give you a thumbs up

[2022-02-11 07:41] mborsetti commented on #623
This package follows the International Organization for Standardization (ISO) classification.

May I suggest that you work with them on any reclassification? See https://www.iso.org/iso-3166-country-codes.html

[2022-02-11 07:55] GuangwenSi commented on #623
Maybe there are some deviations in my understanding, but it doesn't matter, I'm glad you can reply, I will study it carefully.

[2022-02-11 08:13] GuangwenSi commented on #623
Thank you very much for your reply, but they should not take my suggestion. Ha ha

[2022-02-11 08:14] GuangwenSi commented on #623
At the same time, I found that my understanding of the word is wrong, country

[2022-02-15 01:46] TeejMonster opened #625 "Can't pop New Years (observed) by name if it falls in previous year"
Version: holidays 0.12
Platform: Python 3.10.0 for Windows

Example:
[code]

Expected result: A list of dates and holidays

Actual result:
[code]

[2022-02-15 02:28] mborsetti commented on #625
@[TeejMonster](https://github.com/TeejMonster) thanks for your report!

@dr-prodigy Thankfully this code does not generate any errors when run against the `beta` branch. I think my PRs on ensuring that only holidays for the year requested fixes it.

Maybe it's time for a new release?

[2022-02-15 08:18] dr-prodigy commented on #625
@TeejMonster thx for your report!
@mborsetti it sounds like a good plan! :) I confirm this is already fixed in beta: I'm applying the last fixes/updates, then time for a new release! 👍

[2022-02-15 08:18] #625 closed

[2022-02-15 08:23] dr-prodigy commented on #619
Hey @Sudo-Rob that's correct! I applied your suggested fix and released in beta.
Thx, cheers!

[2022-02-15 08:23] #619 closed

[2022-02-15 12:11] mborsetti opened #626 "BUG: failed documentation build on readthedocs.io"
I can't see the build logs of readthedocs.io, but something bad is happening as the documentation at https://python-holidays.readthedocs.io/en/latest/ is nowhere close to what it should look like!

[2022-02-15 12:17] dr-prodigy commented on #626
Hey there Mike @mborsetti I was in fact about to open an issue on this!
It seems the build is misbehaving due to some missing config file / unexpected directory structure.. I could possibly provide a fix, but I'd rather let you do it as you mean to..
Could you give it a look?
Thx!

[2022-02-15 12:23] mborsetti commented on #626
Absolutely!  Where do I find the log file for it?

[2022-02-15 15:49] dr-prodigy commented on #626
It seems now everything is working (btw, beautiful docs!! :-D), so I've merged this in master too.
Also, I've updated readthedocs config to default to "master" branch (it was to beta), so we should now see docs build triggered when we release a new master version (which is then the one to document, too) only.

.. Thank you, brilliant! 👍

[2022-02-21 21:23] SideTrackedResearch opened #632 "Confederate Memorial Day, AR"
Arkansas does not recognize Confederate Memorial day as a state holiday.
Current Arkansas holidays:

January 1 . . . . . . . . . . . . . . . . . . . . . . . . . New Year’s Day (Observed on Friday December 31,2021)
January 17 . . . . . . . . . . . . . Dr. Martin Luther King Jr.’s Birthday
February 21 . . . . . . . . . . . . . . . George Washington’s Birthday and Daisy Gatson Bates Day
May 30 . . .

[2022-03-02 06:47] gavingc opened #635 "Australia QLD Duplicate Entries in 2020 for "The Royal Queensland Show""
The duplicate appears in the output for holidays version==0.13.
A recent previous version actually had this holiday correctly moved.

Reference:
https://www.qld.gov.au/recreation/travel/holidays/queensland-public-holiday-dates-for-2020

Note that 2021 appears to produce the correct date output.
Although technically the holiday was repealed and replaced with "2021 People's long weekend".
https://ww

[2022-03-03 09:04] #610 closed

[2022-03-03 14:29] guinnberg opened #636 "Ireland considering UK as base class and hence not being a country itself"
Issue also opened here:
home-assistant/core#67542

Looks like Ireland is being considered as being part of the UK which is wrong as not all the holidays in the UK exist, or necessarily exist in Ireland.

Take a reference on this comment: https://github.com/home-assistant/core/issues/67542#issuecomment-1058079650

[2022-03-03 15:36] javicalle commented on #636
My comment goes in the original issue matter in HA forum, that Ireland seems not to be one of the `list_supported_countries`, but if you want to discuss other topic here just ignore my comment.

[2022-03-03 15:47] guinnberg commented on #636
I don't fully understand the last part, but yeah, basically the intended discussion here (at least for me) is to be able to use again Ireland as a country in Home Assistant, not interested in politics :)

Let me know if I should change something on the details so it's clearer.

[2022-03-03 16:19] javicalle commented on #636
IMHO the issue subject must reflect what the problem is.
The most info you can include (besides point to another place) will make easier to maintainers to understand the problem and can be easy to them to fix.

IMHO the actual redaction seems to argue about a different matter.

[2022-03-03 16:37] guinnberg commented on #636
Sure, sorry about that, I'll try to do my best, but as I mentioned in the other issue, I'm not fully aware of this library hence the ask for a recommendation of what to explain here...

Feel free to suggest any other changes or whatever is needed to get this properly explained

[2022-03-03 19:27] ourownstory commented on #538
Thank you @tserekh ! Please let me know when your work is merged!

[2022-03-04 10:17] kenguest commented on #636
I'd humbly suggest that you don't inherit the class for one country from another - perhaps you need to audit the codebase to ensure this problem isn't going to manifest for some other country class as well.
regardless of the political aspect of this - there are a lot of assumptions that things are going to match and that changes are only going to be additive etc etc
(I do have some experience of t

[2022-03-07 08:54] sotatech commented on #636
Indeed, and the following is a good example of the dfferences:

17th March 2022 - St. Patricks's day Bank Holiday in Ireland and Northern Ireland only.
18th March 2022 - Day of Remembrance and Recognition Bank Holiday in Ireland only.

[2022-03-16 13:19] celestinoxp opened #643 "TypeError: Cannot convert type '<class 'pandas.core.series.Series'>' to date."
Hi, i have problem.
Idea: create a boolean dataframe with hollidays... example: data['feriado'], true or false, but i need get a date from data['data'].

i try:

data['feriado'] = data['data'] in pt_holidays

but have error:
TypeError: Cannot convert type '<class 'pandas.core.series.Series'>' to date.

Note: data['data'] is 2022-03-16....

and i can´t convert. i try 1 million different ways but al

[2022-03-21 11:52] kristoffPotgieter opened #644 "ZA returns an empty dictionary"
Requests for South Africa's list of holidays returned an empty dictionary:

import holidays
print(holidays.SouthAfrica())
{'observed': True, 'expand': True, 'subdiv': None, 'years': set()}

[2022-03-31 13:19] dr-prodigy commented on #612
Hi,
relevant update just pushed on beta.
Thx, cheers
dr-p

[2022-03-31 13:19] #612 closed

[2022-04-02 17:31] dr-prodigy commented on #636
Thanks to @TeoTN this is now fixed and released on beta.
Closing this, thx everyone 👍

[2022-04-02 17:31] #636 closed

[2022-04-05 08:43] jaharkema commented on #644
This is true for every country (at least the limited list of countries I tried). Add in the `years` kwarg to get the holidays of certain years. E.g.:

[code]

[2022-04-05 08:57] kristoffPotgieter commented on #644
Thank you for helping!

[2022-04-05 08:57] #644 closed

[2022-04-05 13:09] dr-prodigy commented on #644
Thanks @jaharkema
That's the pre-initialized way. You could also simply look for a specific date in an holidays object to have it initialized for the requested date's year.. like so:
[code]
👍

[2022-04-07 06:11] gerdschadler opened #650 "Add Holidays for Liechtenstien (country)"
It would be great if you could add Liechtenstien.

      # Holidays Every Year same date 2022
      - '2022-01-01' #Neujahrstag
      - '2022-01-02' #Berchtoldstag
      - '2022-01-06' #Heilige Drei Konige
      - '2022-02-02' #Lichtmess
      - '2022-03-19' #Joseftag
      - '2022-05-01' #Tag der Arbeit
      - '2022-08-15' #Furstenfest (Staatsfeiertag)
      - '2022-09-08' #Maria Geburt
      -

[2022-04-09 08:30] tomsruk opened #654 "England country option"
England is no longer accepted as a country.

A lovely 6am wake up on a Saturday result.

Why change it?

[2022-04-19 23:02] PriyabrataSamantaray commented on #650
@gerdschadler and @dr-prodigy, I would like to contribute here.
The clarification needed is, the holidays listed are not matching to the list provided in the below link.
https://tourismus.li/en/our-country/about-liechtenstein/bank-holidays-in-liechtenstein/
May I know the trusted website to refer for the holidays and then to add in our holidays library.

[2022-04-20 13:34] gerdschadler commented on #650
@PriyabrataSamantaray - Correct... here
You're right. Here's an explanation.

In addition to the statutory public holidays, there are two other public holidays that can be considered paid public holidays on the basis of collective labor agreements between individual professional groups.

Candlemas February 2nd
Josefi March 19

In addition, the following public holidays are considered bank holidays

[2022-04-20 13:55] PriyabrataSamantaray commented on #650
Thanks @gerdschadler for the clarification, I'll work on this issue and update here once it is ready for beta version.

[2022-04-27 04:01] pixelead0 commented on #255
That the Federal Labor Law and the Federal Law of Workers in the Service of the State, through the Official Calendar published in the Official Gazette of the Federation on October 6, 1993 and modified on January 27, 2006, coincide in determining The following days will be observed as compulsory rest days:

- January 1;
- the first Monday of February in commemoration of February 5;
- the third Mond

[2022-04-28 12:40] dr-prodigy commented on #458
Just released in beta thru #651 . Closing this, thanks! 👍

[2022-04-28 12:40] #458 closed

[2022-04-29 02:46] r6141 opened #657 "Docs contain 'OD' as a supported subdivision of 'IN' but but accessing it returns error " Country IN does not have subdivision 'OD' ""
ah just checked looks like its using OR in the library but the docs mention OD.

it may be because the subdiv's name was changed from 'OR' to 'OD' around 2012

[2022-04-29 07:26] dr-prodigy commented on #657
Fixed on beta.. thx, cheers 👍

[2022-04-29 07:26] #657 closed

[2022-05-04 08:45] ammaralfarsi opened #658 "Add Holidays for Oman (country)"
i would like to contrubute and add Oman in the list

basically it is similar to UAE country with differ in few holidays and yes we are same in the Islamic holidays as well as we depend on moon for holidays decisions.

please let me know what is require from my end.

[2022-05-04 09:11] dr-prodigy commented on #632
hi, this is in fact already working, as you can see:
[code]
I suggest you to double check your init code to be sure you're setting up holidays for AK.
Closing, cheers! 👍

[2022-05-04 09:11] #632 closed

[2022-05-05 20:49] msj121 commented on #225
Simple script for those who need it:

Just note you need the full name I think for this to work, not part of name
[code]

[2022-06-01 22:52] kev-dfs opened #666 "Change day of "Pueblos Indigenas" for Chile"
The real day for  "Día Nacional de los Pueblos Indígenas" in Chile (CL) is the June/21

Link about "senado" of Chile.
https://www.senado.cl/noticias/pueblos-originarios/confirman-feriado-para-el-21-de-junio-como-dia-de-los-pueblos-indigenas

[2022-06-03 09:15] kenguest commented on #636
hi, just wondering when will this fix be in a "proper" (non-beta) release?

[2022-06-05 08:07] dr-prodigy commented on #666
Hi @kev-dfs thx.
Although I confirm from 2021 on it seems like you mention, I unfortunately couldn't find a clear rule for the previous years:
https://www.timeanddate.com/holidays/chile/2022
Would you please clarify this (or even better, create a PR yourself)?

Thx again, cheers 👍

[2022-06-05 09:29] dr-prodigy commented on #658
hi @ammaralfarsi thank you! you can then proceed in implementing it.
You will find all the required info here:
https://github.com/dr-prodigy/python-holidays/blob/master/CONTRIBUTING.rst
Thx, best 👍

[2022-06-05 12:32] xmha97 opened #669 "Iran holiday"
How can I add the [Iran](https://en.wikipedia.org/wiki/Iran) holiday to this project?

[2022-06-05 16:30] dr-prodigy commented on #669
Hi,
you'll find all the required info here:
https://github.com/dr-prodigy/python-holidays/blob/master/CONTRIBUTING.rst
Thx 👍

[2022-06-05 16:37] Stiven-Jaramillo opened #670 "ModuleNotFoundError: No module named 'holidays.financial'"
Hi guys, today after upgrade holidays got that error, I cant re stablish it on the fly.

[2022-06-05 17:05] dhuang commented on #670
+1 seeing this as well.

[2022-06-05 17:47] jfgomez0912 commented on #670
+1 darts uses `holidays.financial` and throws the same error. I had to set the version to 0.13

[2022-06-05 18:57] dr-prodigy commented on #670
It should now be fixed and released as v.0.14.1: thanks everyone!

[2022-06-05 18:57] #670 closed

[2022-06-06 10:54] #669 closed

[2022-06-06 10:54] #658 closed

[2022-06-06 21:54] stianjensen commented on #362
Moving some deps into optional dependencies that you can choose to install only if you need them would indeed be nice!

[2022-06-07 00:59] mborsetti commented on #362
@dr-prodigy This should probably be reopened to inspire someone to produce a PR

[2022-06-09 09:21] dr-prodigy commented on #362
Hi @mborsetti + everyone!
I definitely welcome this idea but, as already shared, holidays itself relies on a pretty limited number of dependencies.
Unfortunately, some of those (very often related to specific countries / cultures) require quite a large number of other dependencies, thus introducing some apparently unnecessary bloat.
Point is: in order to retain support for all the countries we cur

[2022-06-09 10:25] mborsetti commented on #362
Hello @dr-prodigy!

I agree with @stianjensen:  https://setuptools.pypa.io/en/latest/userguide/dependency_management.html#optional-dependencies is a great tool for this use case.

Specifically:
1. We can target the dependencies that cause the most bloat and segregate them as optional dependencies to be installed as e.g. `holidays[lunar]` or `holidays[islamic]` or `holidays[lunar,islamic]` or whate

[2022-06-09 12:13] dr-prodigy commented on #362
This sounds very promising @stianjensen @mborsetti thank you both!
In fact in the past we managed similar import failures to back-support Python 2.. the same handling could apply to those cases.
It doesn't seem to be a very complex work per se, but it requires some structured effort on every side and level of the project (package definition / structure, country-level code, tests, doc).. I will thi

[2022-06-22 21:23] Gama8 opened #674 "No "New Year" Holiday for Colombia in some years (2022,2023)"
Hi everyone, I'm testing the Python holiday library for Colombia.

col_holidays = holidays.country_holidays('CO')

But some years like 2022 and 2023 doesn't have the first holiday of the year "New Year".

Another years like 2020 or 2021 doesn't have this issue.

Thanks.

[2022-06-23 05:17] aandrewsv commented on #666
Hello @dr-prodigy couldn't find a rule either but besides that don't really get why the holiday is set to June 19. The law indicates that the holiday will be the day of the winter solstice in the southern hemisphere every year and that day will always be either June 20 or 21.

Here is an official source of the law, and btw thank u very much for this library it has been prove very helpful to me

ht

[2022-06-25 20:14] bkthomps commented on #674
Apparently this is expected. The test code expects fixed holidays (for which there are 4, including New Year) to not be holidays if they fall on the weekend: https://github.com/dr-prodigy/python-holidays/blob/master/test/countries/test_colombia.py#L44

[2022-06-25 20:57] bkthomps commented on #674
I've confirmed that they should fall on those days, but noticed some other errors in the colombia file. The law for bridging holidays to the next monday was enacted in 1983 among other things. I'll create a PR shortly.

[2022-06-26 07:21] bkthomps commented on #432
@master0v is there some logic to this (can it be computed), or do they randomly decide to change them?

[2022-06-30 23:12] djcrawleravp opened #679 "ADD Holidays from Bolivia?"
If is not much to ask?

https://publicholidays.com.bo/

Thanks!

[2022-07-02 16:53] master0v commented on #432
I don't think this can be computed.  The logic, I believe, is to create continuous holidays without holes in them, so for example Feb 23 is a holiday, so they move the Saturday to Monday, so that people can have 3 continuous days off.  For the other ones, I am not so sure.  Lately the logic of Russian leaders escapes me ;)

[2022-07-06 21:42] jusce17 commented on #679
Hi @djcrawleravp is there any special rule about the holidays in Bolivia?
like, if it lays on a sunday, do you guys get monday off as well ?

TIA (WIP)

[2022-07-06 22:07] djcrawleravp commented on #679
All religious holidays are on the exact date, non religious ones are moved to monday if they are on a sunday :3

[2022-07-11 16:04] ggflempire opened #680 "Norway's country code not supported?"
Hello,

When I change the country code to NO the lettering turns blue and I get an invalid country (even if Norway is listed) while if I try with the default DE it turns orange (using Studio Code Server)

To add, I am very new to HA, so I might be doing something wrong here, but just inputting "NO" do not seem to work..

[2022-07-23 14:11] dr-prodigy commented on #674
Fixed with #676 .. Thx both! 👍

[2022-07-23 14:11] #674 closed

[2022-07-23 14:12] dr-prodigy commented on #583
Fixed with #678 .. closing, thx!

[2022-07-23 14:12] #583 closed

[2022-07-23 14:19] dr-prodigy commented on #545
Sorry, not really a regexp wizard.. even after fixing your command like this
`python-holidays$ perl -p -i.orig -0777 -e 's/^(?<indentation>\s+)(?<target>\S+)\s*=\s*\k<target>[ \t]*(?<operator>[+\-%&|^@]|\*\*?|\/\/?|<<|>>)/$+{indentation}$+{target} $+{operator}=/gm' $(find . -name '*.py')`
it still seems to fail for this reason:
`-bash: /usr/local/bin/perl: Argument list too long`
Any ideas?

[2022-07-23 14:22] dr-prodigy commented on #432
This given, we can't implement this change with static logic rules as we normally do. Anyone interested in adding year-specific rules is appreciated, thx.

[2022-07-23 15:08] dr-prodigy commented on #643
Unfortunately, holidays' `HolidayBase` object is by design a `Dict[date, str]`, so it won't support inclusion evaluations based on different / specific data types such as pandas Series.
Therefore, in order to obtain the correct result, you will have to `convert data['data']` into a `datetime.date` object.

[2022-07-23 15:08] #643 closed

[2022-07-23 15:32] elfring commented on #545
How do you think about the generation of update candidates like the following? :thinking:

[code]

[code]

[2022-07-23 17:11] dr-prodigy commented on #545
Hi @elfring thank you for your clear explanation.. sorry but due to a different perl version, I cannot really get to your results, due to the previously reported issue.
This given, although I don't feel your optimizations as really high priority, I'm definitely interested in including them in our code: if you are available to develop a PR, I will surely merge it.
Thank you very much for your suppo

[2022-07-23 17:21] elfring commented on #545
Which Perl versions would hinder adjustments (which can generally be generated by the mentioned source code search and replacement approach)?

:thought_balloon: Would any other contributor be quicker with the integration of the shown change possibilities?

[2022-07-25 08:44] joksa97 opened #683 "ADD Holidays for Bosnia and Hertzegovina"
Please can you add holidays for BiH Bosnia and Hertzegovina ?

[2022-07-25 09:04] dr-prodigy commented on #683
Hi,
this is a completely voluntary-backed project, so we won't accept any request for specific features.

On the other hand, all contributions are always more than welcome so, if you're interested in python-holidays and / or available to give your support, my suggestion is to implement them yourself.

Pls start from here for details:
https://github.com/dr-prodigy/python-holidays#contributions

Thx

[2022-07-25 09:06] dr-prodigy commented on #679
Hi,
this is a completely voluntary-backed project, so we won't accept any request for specific features.

On the other hand, all contributions are always more than welcome so, if you're interested in python-holidays and / or available to give your support, my suggestion is to implement them yourself.

Pls start from here for details:
https://github.com/dr-prodigy/python-holidays#contributions

Thx

[2022-07-27 07:06] victor-kwok opened #684 "May 1 is a holiday in Hong Kong ( .HK() )"
Reference point from government source: https://www.labour.gov.hk/eng/news/latest_holidays2022.htm

[2022-07-29 16:23] steakhutzeee opened #685 "Custom holidays not iterable"
Hello,

i added some holidays to the "IT" ones this way:

[code]

But when i try to call it:
Note: holidays is a personal custom list, current_day is a variable and i also tested it directly in the interpreter but issue is the same. No issue with the standard `it_holidays = holidays.IT()`

[code]

i receive the following error:

[code]

Any idea what am i doing wrong?

Thanks!

[2022-07-30 11:40] dr-prodigy commented on #685
Hi,
I kindly ask you to follow the provided doc and, when possible, avoid opening project issues about specific implementation issues.
This said, in order to make it work, you should at least inherit your class from Italy class, like so (I'm from mobile so there could be some small error / typo):
[code]
Then, if your added holidays are valid for the whole Italy,

[2022-07-30 11:41] dr-prodigy commented on #685
Hi,
I kindly ask you to follow the provided doc and, when possible, avoid opening project issues about specific implementation issues.
This said, in order to make it work, you should at least inherit your class from Italy class, like so (I'm from mobile so there could be some small error / typo):
[code]
Then, if your added holidays are valid for the whole Italy,

[2022-07-30 12:48] steakhutzeee commented on #685
Before implementing this in my personal code i tried the exact code from the documentation in the section "Creating custom holidays (or augmenting existing ones with private ones)" and got same issue discussed here [](https://github.com/dr-prodigy/python-holidays/issues/500)

That's why i used:

`class my_holidays:`

instead of:

`class my_holidays (holidays.Itay):`

If i use the code from the doc

[2022-07-30 14:27] dr-prodigy commented on #685
At a further check, I confirm that specific example referred to is providing a wrong code: being already a country-inherited object, the subsequent call to `country="US"` is not valid, thus the first reported error.

Going to the second code, on the other hand, the inheritance is still obviously required: no examples in the doc is omitting it.

The correct code is then
[code]

The doc will be fixe

[2022-07-30 14:45] dr-prodigy commented on #685
The fix has been just pushed on beta.
It will be then published to https://python-holidays.readthedocs.io when merged on master, ie: when the next app official version (0.15) is released.
Closing this: pls reach out in case of further needs, thx.

[2022-07-30 14:45] #685 closed

[2022-08-08 13:48] djcrawleravp commented on #679
I'll love to, but I'm not a developer :/, thanks anyway

[2022-08-25 03:37] bkthomps commented on #565
@dr-prodigy this is probably related to Colombia, which is now fixed in 0.15

[2022-08-29 09:10] jghjgfgh opened #693 "2022-01-03 was not a holiday for NYSE (XNYS)"
More info: https://www.nyse.com/markets/hours-calendars

[2022-09-02 16:14] kasya commented on #693
I will look into this issue.

[2022-09-05 18:06] aJetHorn opened #694 "Market holidays clarification?"
Hi, I'm wondering if someone can clarify how the financial package is intended to be used with a code sample. Code looks simple enough but using NYSE as a country, as the docs suggest, results in an error. I downgraded to the previous release and encountered the same issue.

[2022-09-07 22:58] kasya commented on #679
I'd like to work on this one.

@djcrawleravp one more question. Are regional holidays days off too in those specific regions? For instance, is Chuquisaca Day (May 25) is a day off in the Bolivian department of Chuquisaca?

[2022-09-07 23:13] arkid15r commented on #694
Hi Tim,
it's always a good idea to attach the error message to a bug report and make it as detailed as possible.

As there are no clear steps to reproduce the issue I've just tried these:
❯ `virtualenv venv`

❯ `pip install holidays`

❯ `python`

In general you should use `NewYorkStockExchange` class (or its alias `NYSE`) of `holidays.financial.ny_stock_exchange` module. Example:

[code]

I hope t

[2022-09-08 06:59] dr-prodigy commented on #694
hi everyone!
@arkid15r thank you so much for the complete explanation.
Indeed, providing a complete issue report (with an enclosed code sample, whenever possible) is vital to obtain valuable support.

This said, everything explained here above should be more than enough to get things done in the right way.
Willing to get deeper in all the possible ways to use python holidays, there are 2 other mai

[2022-09-08 15:24] djcrawleravp commented on #679
Thank you Kasya, Yes, regional holidays days off are on the specific regions

[2022-09-08 18:26] Dpananos opened #697 "Canadian Holidays are not working in 2022"
The folllowling should return "Christmas Day" but does not

[code]

However, it does work for the US

[code]

[2022-09-08 22:13] aJetHorn commented on #694
The language used in the docs:

"The standard way to refer to a financial market is to use its [ISO 10383 MIC](https://www.iso20022.org/market-identifier-codes) (Market Identifier Code) as a “country” code when available."

Was interpreted as this usage being possible:

`us_market_holidays = holidays.country_holidays('NYSE')`

I guess I understand why usage is different, I just couldn't find it do

[2022-09-09 03:03] kasya commented on #697
I'll look into this.

[2022-09-09 05:44] jghjgfgh commented on #693
Thanks!

[2022-09-09 09:45] dr-prodigy commented on #694
Hi @aJetHorn , this definitely clarifies your issue report, thank you very much.

Although, as you could notice after, `country_holidays('..')` method is meant for countries only, a similar method should in fact be available for financial holidays too (which is not yet the case: this went unnoticed since we split financial holidays from country ones). I'm then reopening this, and we will take care

[2022-09-11 00:39] kasya commented on #679
Hi @djcrawleravp,

Could you please verify test outputs for Bolivian holidays?
Here is a printout for 2021, with observed holidays:
[code]
Here's one for 2022, with observed holidays:
[code]
Here'e one for 2023, with observed holidays:

[code]
And here's one for 2022, Santa Cruz department with observed holidays:
[code]

Thanks!

[2022-09-12 07:11] mrbluebrett opened #700 "Today is not holiday in region CT, Spain."
Hi, the library is returning holiday today 12th of September for Catalonia (CT), Spain. That's wrong. Today is working day.
I think the issue is the holiday from yesterday (Sep. 11th)  is traslated to today because yesterday was Sunday as I have seen in the code. But here we do not move the holyday to the next day if it's sunday... Usually they assign another local holiday and that's it... Can you

[2022-09-12 14:08] djcrawleravp commented on #679
Hey @kasya! Thank you so much for this!.

Indeed those Holidays are correct, I don't quite understand what (Observed) mean but certainly those days are incorrect

[2022-09-12 15:33] kasya commented on #679
Hey @djcrawleravp ,

Observed holiday in this case is when a holiday falls on Sunday and you get next Monday as a day off (for non-religious holidays). As I understood after your reply on Jul 6 - that's the way in Bolivia. I also googled a bit and it seems that Bolivia does have observed holidays that fall on Sunday.
Is that not correct?

[2022-09-12 15:55] djcrawleravp commented on #679
Hi @kasya,

I did my research in here and find out that Sunday holidays are moved to the next day.

In case of "Feriado de Carnaval" is a little bit complex. These are 2 Days (Monday and Tuesday) before "Viernes Santo)

In other words, Your output is correct, I was mistaken :P

[2022-09-12 18:43] kasya commented on #679
@djcrawleravp  great, thanks for checking!
It is my understanding that these changes should be added to beta with next update.

[2022-09-12 20:15] djcrawleravp commented on #679
Thank you very much @kasya !!!

[2022-09-13 14:57] #693 closed

[2022-09-13 15:02] dr-prodigy commented on #679
@kasya + everyone, that's what I've just done: #698 merged today in beta  :+1:
Release in master + new PyPi release will follow, as per our standard release workflow.
Thanks a lot everyone, cheers!
dr-p

[2022-09-13 15:02] #679 closed

[2022-09-14 02:00] kasya opened #705 "Holiday names sorting"
While I was working on Bolivia holidays one of my tests caught an error with holiday names when two holidays fall on the same day. In this particular case it was one regional holiday (La Tablada in Tarija) and Viernes Santo holiday. In 2022 they both fell on Apr 15, so I had to make a separate test for [this case](https://github.com/dr-prodigy/python-holidays/blob/beta/test/countries/test_bolivia.

[2022-09-14 07:24] dr-prodigy commented on #694
Hi @aJetHorn
I've just pushed in beta an update that should address your issue. This involved a larger refactoring regarding all the financial holidays code, including adding a new BaseHoliday property (`market`), used for financial holidays instead of the usual `country`.
Could you please make a check on it and confirm it works as expected?
Thanks!

[2022-09-14 09:14] dr-prodigy commented on #705
Hi @kasya thank you for this interesting case!
Indeed, we don't have a clear definition of behaviour in case of holidays overlapping.. being holidays a Dict-based class, we can't in fact add more than one holiday on the same date right away.
Then, it would surely be valuable to add a standard logic to cover those cases: it would be useful especially regarding moving holidays (eg: Easter, Good Frid

[2022-09-14 09:34] cozimapotato opened #706 "Australia one-off public holiday"
Hi there,

Just thought I'd flag the one-off public holiday that Australia is getting across all states on the Thursday 2022-09-22, see below:

https://www.theguardian.com/australia-news/2022/sep/11/australia-to-have-public-holiday-to-mark-the-death-of-queen-elizabeth-ii-anthony-albanese-announces

Keep up the good work!

[2022-09-14 09:55] dr-prodigy commented on #706
Hi @cozimapotato thank you: we have just sorted this out merging #699 . It is currently released in beta, and will be included in the next release.
Cheers! :+1:

[2022-09-14 09:55] #706 closed

[2022-09-14 12:34] dr-prodigy commented on #697
Hi @Dpananos
I made a check, and I confirm Canada code is working as expected: the difference between it and the other countries is it applies observance by default:
[code]
Basically, Christmas Day is there, but for 2022, is shifted to 2022-12-27.

In the end, this behaviour could be debated (could you please check whether it's correct or not?), but there seems no to be any technical issue behind

[2022-09-14 20:05] jasonjensen opened #707 "Canada: Observed New Year's day for 2021/2022 incorrect"
When querying December 31st, 2021 in Ontario, Canada, it is listed as "New Year's Day (Observed)", but this is not the case, it was observed on the following Monday. (see for example here: https://www.timeanddate.com/calendar/?year=2022&country=27 , and here https://www.timeanddate.com/holidays/canada/new-year-day)

This doesn't seem to be a problem with the data but with the logic of when the obs

[2022-09-14 22:08] markhoneth opened #708 "New temporary public holiday in New Zealand"
- New Zealand will mark the passing of Queen Elizabeth II with a _one-off_ public holiday on **Monday 26 September**.
- The Public Holiday will be called **Queen Elizabeth II Memorial Day**.
- Legislation will be passed next week to bring the holiday into force.

More information [here](https://www.beehive.govt.nz/release/public-holiday-26-september-mark-passing-queen-elizabeth-ii).

[2022-09-14 22:20] markhoneth opened #709 "Sovereign's Birthday updates for New Zealand"
With the passing of Queen Elizabeth II the Sovereign's Birthday public holiday will be called **King's Birthday** from **2023** for _Charles III_. Also see #708 for new temporary holiday in 2022.

More information [here](https://www.employment.govt.nz/leave-and-holidays/public-holidays/public-holidays-and-anniversary-dates/).

[2022-09-15 17:26] dr-prodigy commented on #708
Hi @markhoneth thank you, today I've released in beta an update on this.
I'm closing this, please follow up in case of any review required.

Thanks, cheers
dr-p

[2022-09-15 17:26] #708 closed

[2022-09-15 17:27] dr-prodigy commented on #709
Hi @markhoneth thank you, today I've released in beta an update on this.
I'm closing this, please follow up in case of any review required.

Thanks, cheers
dr-p

[2022-09-15 17:27] #709 closed

[2022-09-15 21:29] schmittyice-hyp opened #714 "Add Halloween to US Holiday Schedule"
Please add Halloween (Oct 31st) to US Holiday schedule. I use this code to automate my outdoor lights based on holiday. Halloween is a fun holiday to change lights.

[2022-09-16 05:30] bkthomps commented on #697
Here's a fix: https://github.com/dr-prodigy/python-holidays/pull/715

[2022-09-16 16:44] arkid15r commented on #714
Hi @schmittyice-hyp!
Thanks for the idea!

I love this holiday! And it's quite unfortunate that at this moment python-holidays provides official holiday list (both federal and regional ones) only.

I don't know what your automation looks like but it sounds like you might benefit from forking the repo and adding that holiday by yourself for using the fork further in your automation. Another way wou

[2022-09-24 19:24] SideTrackedResearch commented on #632
Well, Arkansas is AR and Alaska is AK.
I do see the correct holidays in my calendar for AR now.

[2022-09-29 18:53] kasya commented on #700
Hi @mrbluebrett,

I googled a bit and it seems that there are only 2 holidays that can be moved to Monday (and that is decided by each Autonomous Community) - Christmas Day and Labor Day. Everything else is usually celebrated on the day of the holiday.
Is this logic correct? Thanks!

[2022-09-29 20:33] mrbluebrett commented on #700
Not exactly. All national holidays that happen in sunday can be moved to another day, but each autonomous community decides the new day. Some of the choose the next Monday, but others a completely different day. And also this can change every year so a community that choses to move one holiday to monday one year, the next year can choose to move to a completely different day.
I have also seen in t

[2022-09-29 21:36] kasya commented on #700
If there's no definitive logic in how sunday holidays are moved it might be hard to program it.

And about this one... So, as I understand it at this moment: if any of those 4 holidays fall on Sunday, you kind of have one "unused" holiday and in this case you have this Pentecost Monday (Jun 6 this year) somewhere in May-June. But if none of those 4 were on Sunday - you don't get a day off, is that

[2022-09-29 21:56] mrbluebrett commented on #700
Yes, that’s correct for Catalonia. It’s the first substitute holiday for the other four.

[2022-09-29 22:31] kasya commented on #683
Hi @joksa97 ,

Could you please verify test outputs for Bosnia and Herzegovina holidays?
2022, Federation of Bosnia and Herzegovina:
[code]
2021, Federation of Bosnia and Herzegovina:
[code]
2022, Republika Srpska:
[code]
2021, Republika Srpska:
[code]

Thanks!

[2022-09-30 10:48] bryndivey opened #727 "South Africa rollover rules regarding holidays falling on Sundays don't appear to be correct"
#392 changed South African holiday calculations to add observed holidays when the existing holiday falls on a Sunday, per:

```The Public Holidays Act (Act No 36 of 1994) determines that whenever any public holiday falls on a Sunday, the Monday following on it shall be a public holiday.```

However it doesn't just check if it can add it to the following Monday but continues checking for an "open"

[2022-09-30 10:48] bryndivey commented on #727
@pietervdw115 since you submitted the original change just want to check if there's something I'm missing here?

[2022-10-05 15:23] arkid15r opened #732 "Improve `holidays.constants` multi-line import sorting"
Keep week days and months multi-line imports ordered according to the date/time context (which is more readable taking into account the nature of python-holidays package).

```I would have dreamt to see those holidays.constants multi-line import move to the isort format (definitely nicer and more readable than the black's version).```

_Originally posted by @dr-prodigy in https://github.com/dr-pro

[2022-10-11 11:15] NicoHood commented on #714
You can easily add this on your own. Here is a simple example:

[code]

This is all documented quite well. You can [create new custom holiday classes](https://python-holidays.readthedocs.io/en/latest/examples.html#creating-custom-holidays-or-augmenting-existing-ones-with-private-ones) and [merge different holiday classes](https://python-holidays.readthedocs.io/en/latest/examples.html#additions). T

[2022-10-11 15:02] FirefoxMetzger commented on #705
Is this still an issue, or has #713 colsed/solved this? :)

[2022-10-13 00:06] kasya commented on #705
#713 solved this issue (holiday names are now sorted alphabetically when 2 or more holidays fall on the same date).

[2022-10-16 20:36] Nalguedo commented on #331
I may suggest adding the 18 district holidays: Aveiro, Beja, Braga, Bragança, Castelo Branco, Coimbra, Évora, Faro, Guarda, Leiria, Lisboa, Portalegre, Porto, Santarém, Setúbal, Viana do Castelo, Vila Real e Viseu.
I can create a PR with this addition if you agree @dr-prodigy

To get more granular, we would need to add the 318 municipal holidays ... that would take considerably more time to implem

[2022-10-17 21:16] dr-prodigy commented on #683
Implemented by @kasya (thank you very much!) and just released in beta.. marking closed.

[2022-10-17 21:16] #683 closed

[2022-10-17 21:35] dr-prodigy commented on #650
Completed by @kasya , merged in beta. Closing, thx everyone

[2022-10-17 21:35] #650 closed

[2022-10-18 07:28] dr-prodigy commented on #331
@Nalguedo it sounds like a good plan.. I definitely agree on it! If you wish to implement this first version, please do and I'll be happy to include it.. then there's always time to improve and proceed with the other 300 :-)
Thank you very much!

[2022-10-19 09:24] dr-prodigy commented on #705
Confirm.. PR released in beta. Closing this, thx everyone!

[2022-10-19 09:24] #705 closed

[2022-10-19 12:27] oteroalejandro opened #745 "Some holidays of Uruguay are incorrect."
Hello.
Some holidays for Uruguay are incorrect.

- The Battle of stones was in May, 18.
- The Respect for Cultural Diversity Day or Columbus day is October, 12.

In Uruguay are 2 categories of holidays (laborables and not laborables). In the not laborable holidays nobody works while in the laborable holidays the work is optional.

The not laborables holidays are:
- 01/01
- 01/05
- 18/07
- 25/08
-

[2022-10-20 18:51] leandrorojas commented on #465
in AR there are bridge holidays, some move and sone don't depending on the government, there is no way to compute them as they change every year. the information source can be found on (in spanish): https://www.argentina.gob.ar/interior/feriados-nacionales-2022
additionally, google's public holidays' calendar has them right

[2022-10-20 18:51] leandrorojas commented on #465
in AR there are bridge holidays, some move and sone don't depending on the government, there is no way to compute them as they change every year. the information source can be found on (in spanish): https://www.argentina.gob.ar/interior/feriados-nacionales-2022
additionally, google's public holidays' calendar has them right

[2022-10-21 00:23] arkid15r opened #750 "Unify `_populate` mypy static typing annotations"
At the moment very few countries have `def _populate(self, year: int) -> None:` static typing annotations.
This'll require fixing the following errors:

[code]

[2022-10-21 00:48] jgriem opened #751 "Diwali Singapore is on 24th of October not 24th of November"
Holidays returns (datetime.date(2022, 11, 24), 'Deepavali') not the actual day which is this coming Monday the 24th of October.

Full list here https://www.mom.gov.sg/employment-practices/public-holidays

[2022-10-21 01:35] kasya commented on #751
Fixed it for this year's Diwali in #754 .
Thanks!

[2022-10-21 18:12] kasya commented on #745
@oteroalejandro  I'm working on this issue. Thanks for pointing out the problem.
One question:  do you get an extra day off (observance) if not laborable holiday falls on weekend?

[2022-10-21 18:17] kasya commented on #745
By the way, this is what [Wikipedia](https://en.wikipedia.org/wiki/Public_holidays_in_Uruguay#Moveable_holidays) states:

According to Uruguayan Law 16,805 with modifications of Law 17,414, the holidays declared by law, subject to the commemoration of them, follow the following scheme (whose commemoration as “moveable holidays”):

- If coincide on Saturday, Sunday or Monday will be observed in tho

[2022-10-21 19:09] oteroalejandro commented on #745
Hi Kate.

In the case a not laborable holiday falls on weekend, we don't get any
extra day.

[image: Logo]
<https://mailtrack.io/trace/link/1198366dea37c3e1f186c6569157d85010525afa?url=https%3A%2F%2Fwww.acceleanation.com&userId=7259985&signature=f5b9c321d1b4c8b6>
*Cr. Alejandro Otero*
*Consulting Manager*
*e:* ***@***.***
*w:* acceleanation.com
<https://mailtrack.io/trace/link/796c3c61a2a904b5f2e5

[2022-10-21 19:28] oteroalejandro commented on #745
Hi Kate.

I checked with colleagues, and wikipedia is right. If the holiday is
Thursday or Friday, it's moved to next monday.

Another thing... In addition to November 2, exceptions to the holiday
movement rules are on January 06 and June 19. These holidays do not move
despite being working days.

Thanks a lot for your work.
Best regards.

[image: Logo] <https://www.acceleanation.com>
*Cr. Alejand

[2022-10-21 19:59] kasya commented on #745
Yes, I noticed that as well in Wikipedia.
Thanks for the clarification!

[2022-10-22 22:05] Nalguedo commented on #592
My opinion on this is that since 2018, this is not an holiday anymore.

I may suggest 2 solutions:
1 - Remove the holiday from 2017 onwards
2 - Include the logic to move the date to Sunday whenever it falls in a workday.

I can take this one @dr-prodigy ... what's your thoughts about this?

[2022-10-23 10:19] dr-prodigy commented on #732
Pls see #734 for possible further improvements.. thx!

[2022-10-23 12:01] dr-prodigy commented on #592
Hi @Nalguedo thank you for notes.
I agree with you on both solutions.. holidays explicitly set in the weekend are not very impacting, being them days off by themselves, but in this case it's definitely correct to track it like so.. Pls go on thx a lot! 👍

[2022-10-23 14:13] arkid15r commented on #732
Yep, will do! I appreciate your suggestions!

[2022-10-24 20:47] kbotonline opened #762 "Isle of Man Code IM Doesn't Work"
Setting country to IM in configuration.yaml results in the check configuration button reporting invalid country data. IM is in the list of support countries.

Configuration invalid!

Invalid config for [binary_sensor.workday]: Country is not supported. for dictionary value @ data['country']. Got 'IM'. (See ?, line ?).

There is a note in GB section for Isle of Man to use IM.

[2022-10-24 22:26] arkid15r commented on #762
Well, that's a bug. Thanks for reporting this!

I looked into this briefly and here is what I found:
The available country list is filtered by `__base__` [undocumented Python?] attribute here https://github.com/dr-prodigy/python-holidays/blob/390f59c386b15485c78550a6b4c017b7a6e09f67/holidays/utils.py#L287

It works for usual cases (direct inheritance) and fails for more complex cases when country

[2022-10-25 16:55] arkid15r opened #768 "Optimize Kst day lookup process"
Replace while loops with `dateutil` logic:

The list of code parts to optimize:
  - https://github.com/dr-prodigy/python-holidays/blob/a772f79327a64639ec1fe89c79165d585c3a9b3d/holidays/countries/angola.py#L63
  - https://github.com/dr-prodigy/python-holidays/blob/a772f79327a64639ec1fe89c79165d585c3a9b3d/holidays/countries/botswana.py#L57
  - https://github.com/dr-prodigy/python-holidays/blob/a772f

[2022-10-25 17:02] arkid15r commented on #768
Hey @KJhellico, would you like to look into this?
For some reason I though may be interested :)

[2022-10-25 17:19] KJhellico commented on #768
Definitely! 😋 I will look into it

[2022-11-02 08:01] vytautasgimbutas opened #774 "November 2nd is a holiday in Lithuania"
Since 2020. Source: https://publicholidays.lt/2022-dates/

[2022-11-04 05:44] magggzzz opened #778 "HK holiday , 30 September 2022 (The day following the Chinese Mid-Autumn Festival) problem, day of the Mid-Autumn Festival not a holiday , only (T+1) is the public holiday!"
It cannot show the day following the Chinese Mid-Autumn Festival for 30 sept 2022

2022-09-10 Chinese Mid-Autumn Festival
**day of the Mid-Autumn Festival**  , it itself is **not a holiday** , **only** the day after it **(T+1)**  is the **public holiday**

i think the logic should be :
if "the day following the Chinese Mid-Autumn Festival"  lays on a Sunday , then there will be  ""The second weekd

[2022-11-06 21:01] dr-prodigy commented on #745
Fixed by @kasya and merged in beta.. thx! 👍

[2022-11-06 21:01] #745 closed

[2022-11-06 21:22] Nalguedo commented on #592
@dr-prodigy ... you can close this issue [ https://github.com/dr-prodigy/python-holidays/pull/761 ]

[2022-11-06 21:28] dr-prodigy commented on #592
Thank you very much @Nalguedo @rpvelloso ! 👍

[2022-11-06 21:28] #592 closed

[2022-11-06 22:08] Nalguedo commented on #774
Suggested change - https://github.com/dr-prodigy/python-holidays/pull/781.
@vytautasgimbutas can you please check if there's any typo or semantic error in the holiday name?

[2022-11-06 22:09] dr-prodigy commented on #762
Merged, thank you! 👍

[2022-11-06 22:09] #762 closed

[2022-11-06 22:11] dr-prodigy commented on #778
Hi @magggzzz this should be fixed with #779 (now merged in beta). Could you please confirm?
Thx!

[2022-11-06 22:18] dr-prodigy commented on #768
#770 merged right now.. thank you both! 👍

[2022-11-06 22:18] #768 closed

[2022-11-07 06:56] magggzzz commented on #778
hi @dr-prodigy , checked , confirm working fine, thank you very much, but the day of mid autumn it self is not a public holiday

[2022-11-07 11:13] poshingchu commented on #778
Hi @magggzzz , the situation is like this:
3 Oct 2009 (SAT) is Chinese Mid-Autumn Festival and GOV set the same day as public holiday.
10 Sep 2022 (SAT) is Chinese Mid-Autumn Festival and GOV set the 12 Sep 2022 (MON) as public holiday.
#779 added speiacl case for this situation on 2022, further may need to add the case depend on the GOV if Chinese Mid-Autumn Festival on saturday and GOV set the p

[2022-11-07 11:57] magggzzz commented on #778
HI, @poshingchu , it is not a special case

it has always been like this , the day of mid autumn , is not a holiday , only the following day is public
- from 1983 to 2010, the logic goes :
   if mid autumn lies on a sat , i.e.: the following day is a sunday , then the mid autumn day will be a full day holiday
   ** 2009 is the last time it happened

- since 2011 the legislation has changed , the f

[2022-11-07 12:21] poshingchu commented on #778
Hi @magggzzz , you mean that 2022 is not a special case, 2009 is. And want to switch?
As my understand, point (o) can negotiate but more chance to set public holiday on Monday if Chinese Mid-Autumn Festival lies on Saturday. The next Chinese Mid-Autumn Festival lies on Saturday will be 22 Sep 2029.

[2022-11-07 12:26] magggzzz commented on #778
hi @dr-prodigy  ,

so both of them are not special case

from 1983 to 2010, the gov 's logic was  :
 if mid autumn lies on a sat , i.e.: the following day is a sunday ,
then the mid autumn day ITSELF will be a full day public holiday

**from 2011**  HK government **change** the logic :
 if mid autumn lies on a sat , i.e.: the following day is a sunday ,
 then  **INSTEAD** of making  the mid autumn

[2022-11-09 07:02] vytautasgimbutas commented on #774
Seems correct. Thanks!

[2022-11-09 15:22] Nalguedo commented on #774
I guess this can be closed @dr-prodigy ;)

[2022-11-12 15:47] poshingchu commented on #778
Hi @magggzzz  and @dr-prodigy , #782 is fixed branch, if have other concern please sugguest.
Otherwise this case can be closed.

[2022-11-13 10:26] dragoon opened #784 "Zurich half-day holidays in Switzerland"
Zurich has 2 half-day holidays every year: [Sechseläuten](https://en.wikipedia.org/wiki/Sechsel%C3%A4uten) and [Knabenschiessen](https://en.wikipedia.org/wiki/Knabenschiessen).
I wonder if we can somehow include this in the library?

But then not sure how to mark them. I don't know if any other country has something similar so it is worth doing.

[2022-11-13 12:26] #684 closed

[2022-11-13 12:27] dr-prodigy commented on #778
Thank you @poshingchu , closing! 👍

[2022-11-13 12:27] #778 closed

[2022-11-13 12:50] dr-prodigy commented on #714
At the current time, I agree with @NicoHood : the right way to go is using a custom class to implement your required additional days. Anyway, thanks everyone for your interest and support!

[2022-11-13 12:50] #714 closed

[2022-11-14 01:03] Inundata opened #788 "Tree planting day in South Korea"
I found that there is an error about the tree-planting day.

This day was ruled out from the holiday after 2006.

However, the package still returns this day as a holiday on 2006-4-5 and 2007-4-5.

https://glaw.scourt.go.kr/wsjo/lawod/sjo190.do?contId=1680822#1668387535738 ← This is the Decree on which it is based.

Translating the Decree shortly, the Tree planting day and the Constitution day wou

[2022-11-14 01:15] Inundata opened #789 "Labour day in South Korea"
There is an error about Labour day in South Korea.

Labour day was a holiday on March 10, before 1994, and it changes to May 1 after 1994.

In the Package, Labour day was returned on May 1 even if it was before 1994.

https://elaw.klri.re.kr/kor_service/lawView.do?lang=ENG&hseq=23586 ← This is the Decree on which it is based.

[2022-11-14 03:36] Inundata opened #790 "Hangeul day in South Korea"
I found that there is an error about the Hangeul day.

Originally, Hangeul day was a holiday, but during the period from 1991 to 2012, it was removed from the holiday.

After 2013, it was redesignated as a holiday again.

https://elaw.klri.re.kr/kor_service/lawView.do?hseq=59601&lang=ENG ← This is the Decree on which it is based.

The ADDENDUM <Presidential Decree No. 24273, Dec. 28, 2012> below i

[2022-11-14 20:40] walkerh opened #793 "DeprecationWarning upon "import holidays" in version 0.17"
The implementation of deprecating the Swaziland calendar contains a bug. Just importing the holidays package is enough to fire the `DeprecationWarning`.

**Steps to reproduce (in bash):**

[code]

**Expected behavior:**

The `DeprecationWarning` should only fire when the user constructs an instance of the `Swaziland` or a subclass.

[2022-11-14 23:20] arkid15r commented on #793
HI @walkerh,
thanks for the detailed issue explanation!

My understanding is that the root cause of the problem is not the deprecation warning itself but the way you're treating them with `-W error::DeprecationWarning` options. What is your use-case for turning the warning into an exception?

While I can help "fixing" the issue in this particular case with `Swaziland` there is no guarantee that an

[2022-11-15 19:27] walkerh commented on #793
The `-W error::DeprecationWarning` flag was a simple way of demonstrating the problem. I first became aware of this issue when updating `holidays` cause my `pytest` output to start emitting these warnings. I could have just suppressed the warnings, but that just hides the real problem.

Thanks for getting on this.

[2022-11-16 00:58] arkid15r commented on #793
Got it, thanks for the explanation @walkerh!

I agree that in this particular case the warning could be fired in a more sophisticated way (#794 PR filed). However, as I  understand the concept, a warning itself is not a problem but an intentionally shown piece of information notifying the end users about upcoming changes.

Please let me know if you have any suggestions regarding the way you'd pref

[2022-11-16 16:57] walkerh commented on #793
My suggestion is to implement a constructor for `Swaziland` that:

1. emits the warning
2. invokes `super(*args, **kwargs)`

Then the warning will only show up when someone actually invokes `Swaziland()`. The vast, vast majority of users of this package have never and will never use the deprecated Swaziland calendar. They shouldn't have to see this deprecation warning just because they run pytest.

[2022-11-16 17:01] arkid15r commented on #793
The suggested fix was implemented in #794 PR yesterday.

Thank you!

[2022-11-17 08:46] aberres commented on #793
Another answer to this question: Our CI runs with `-W error::DeprecationWarning` to allow us to spot any upcoming issues early. We then either fix the warning right away or explicitly ignore it.

Thanks for fixing it!

[2022-11-23 11:25] anentropic commented on #793
Same here

[2022-11-23 23:02] dr-prodigy commented on #793
Unfortunately I could not work on a new release for some days.. now it's online and should be okay. Thx!

[2022-11-23 23:02] #793 closed

[2022-11-27 11:33] MartinR80 opened #808 "Countrycode LI for Liechtenstein not working in HA"
When i put in the Countrycode for Liechtenstein "LI" Home Assistant says the configuration is not valid.

"Invalid config for [binary_sensor.workday]: Country is not supported. for dictionary value @ data['country']. Got 'LI'. (See ?, line ?). "

If i change it to Switzerland (CH) or Germany (DE) it is valid and works.

[2022-11-27 12:51] dr-prodigy commented on #808
Hi @MartinR80 ,
unfortunately this doesn't seem to be related to python_holidays, as you can check from here:

[code]

No clues about why it is not working for you, but in case you have no other evidences to shed light on a possible issue on python_holidays side, I suggest you to report this to the Home Assistant project.

Good luck 👍

[2022-11-27 12:53] #751 closed

[2022-11-27 13:16] MartinR80 commented on #808
Thanks for your quick replay and the info. Ill check with HA then.

[2022-11-27 17:06] arkid15r commented on #808
Hey @MartinR80,
It does look like an HA issue so far. The LI support was added not very long time ago. Could be just an old version issue. I'll add more details later after looking into it.

[2022-11-27 18:35] arkid15r commented on #808
The issue should be fixed in HA soon - https://github.com/home-assistant/core/pull/82799.

[2022-11-27 21:57] dr-prodigy commented on #808
Yep.. caused by outdated (0.16) holidays dependency.
@MartinR80 even if HA is probably about to release a fix for this, you still can manually upgrade holidays yourself to the latest version (0.17) to get support for Liechtenstein prior to that fix.
This said I'm closing this.. cheers everyone 👍

[2022-11-27 21:57] #808 closed

[2022-11-30 17:07] arkid15r opened #814 "Add Bahrain holidays"
To track BH holidays adding process (requested by @taljishi in #813).

Some sources:
  * https://www.cbb.gov.bh/official-bank-holidays/
  * https://www.officeholidays.com/countries/bahrain/2022
  * https://en.wikipedia.org/wiki/Public_holidays_in_Bahrain